# in client folder
client/node_modules
client/.vscode

# in server folder
server/node_modules

*.code-workspace
Mastering Full Stack React Web Development ( PDFDrive ).pdf
Pure React_ A step-by-step guide to mastering React. ( PDFDrive ).pdf
